body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(10, 12, 12);
    color: #ccc;
}

#color-selector {
    margin: 20px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(100, 20px);  /* 50 colonnes */
    grid-template-rows: repeat(100, 20px);  /* 50 lignes */
    gap: 1px;
    max-width: 100%;  
    max-height: 700px;  
    overflow: auto;  
    border: 1px solid #ccc; 
}

.grid-cell {
    background-color: white;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
}

#chat {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    max-height: 20vh;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 10px;
    z-index: 1000; 
    color: black;
   
}

#messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 5px;
}

#chat-input {
    width: calc(100% - 50px);
}

#send-button {
    width: 90px;
}


#toggle-scroll {
    margin-top: 20px;
    margin-bottom: 5px;
    border: none;
    border-radius: 10%;
    width: 40px;
    height: 40px;
    border: solid,beige,2px;
}
.color-button {
    width: 40px;
    height: 40px;
    border: solid,beige,2px;
    border-radius: 10%;
    cursor: pointer;
    transition: 300ms;
    
}
.color-button:hover{
    margin-left: 10px;
    margin-right: 10px;
    border: solid,rgb(188, 101, 15),2px;
}
.color-button:active{
    width: 10px;
}
.inscription{
    color: black;
    background-color: white;
    width: 100px;
    height: 40px;
    border: solid,beige,2px;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
}
.inscription:hover{
    width: 110px;
}